In [4]:
!pip install fuzzywuzzy
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

Requirement already satisfied: fuzzywuzzy in c:\users\asus\anaconda3\envs\slit\lib\site-packages (0.18.0)

C:\Users\ASUS\Anaconda3\envs\SLit\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [5]:
df_movies=pd.read_csv('D:/IBM AI SGUnited/DATA SCIENCE/Project/Data/2018/V22movies.csv')
df_ratings=pd.read_csv('D:/IBM AI SGUnited/DATA SCIENCE/Project/Data/2018/V22ratings.csv')

#df_movies=pd.read_csv(movies, usecols=['movie_id','title'])
#df_ratings=pd.read_csv(ratings, usecols=['user_id','movie_id','rating']

In [6]:
df_ratings.head()

   user_index    user_id  movie_index                         title  rating
0           1  268758758            1   First They Killed My Father       8
1           1  268758758            2       In the Heart of the Sea       9
2           1  268758758            3  Rogue One: A Star Wars Story       5
3           1  268758758            4  The Ballad of Buster Scruggs       5
4           1  268758758            5                    The Colony       9

In [7]:
df_movies.head()

   movie_index                         title  user_index    user_id
0            1   First They Killed My Father           1  268758758
1            2       In the Heart of the Sea           1  268758758
2            3  Rogue One: A Star Wars Story           1  268758758
3            4  The Ballad of Buster Scruggs           1  268758758
4            5                    The Colony           1  268758758

In [8]:
movies_users=df_ratings.pivot(index='movie_index', columns='user_index',values='rating')
movies_users

user_index,1,2,3,4,5,6,7,8,9,10,...,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584
movie_index,,,,,,,,,,,,,,,,,,,,,
1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN

In [10]:
movies_users=df_ratings.pivot(index='movie_index', columns='user_index',values='rating').fillna(0)
movies_users

user_index,1,2,3,4,5,6,7,8,9,10,...,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584
movie_index,,,,,,,,,,,,,,,,,,,,,
1,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0

In [11]:
movie_user_matrix=csr_matrix(movies_users.values)

next we build a model using the nearest neighbors function, KNN(known nearest neighbor)

In [32]:
#model_KNN = NearestNeighbors(metric='p_norm',algorithm ='kd_tree', n_neighbors=20)
#model_KNN = NearestNeighbors(metric='cosine',algorithm ='brute', n_neighbors=20)
#apply the unsupervised learning algorithm, 

model_KNN = NearestNeighbors(n_neighbors = 20, algorithm = 'ball_tree')

next we train our model, by simple using the 'fit' method

In [33]:
model_KNN.fit(movie_user_matrix)

NearestNeighbors(algorithm='ball_tree', n_neighbors=20)

In [35]:
def recommender(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))
    
recommender('Bruno', movie_user_matrix, model_KNN,20)

Movie Selected:  Bruno Index:  1070
Searching for recommendations.....
1070                                      NaN
1392                     Crazy, Stupid, Love.
1216          Pride and Prejudice and Zombies
1118                 How to Train Your Dragon
1424               The Huntsman: Winter's War
1534                              How It Ends
1117                                Fast Five
1348                                  Jumanji
1489           Fear and Loathing in Las Vegas
855                               Role Models
1674                      Shakespeare in Love
1671                               By the Sea
1406                           Fast & Furious
1670                     Thor: The Dark World
1094                                   Kidnap
1669                  The Man from U.N.C.L.E.
1668                            Power Rangers
1667               Captain America: Civil War
1672                           Magic Mike XXL
1505    The Mortal Instruments: City of Bones
Name: title, dtype: object

In [29]:
model_KNN = NearestNeighbors(metric='cosine',algorithm ='brute', n_neighbors=20)

In [30]:
model_KNN.fit(movie_user_matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [37]:
def recommender(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))
    
recommender('Bruno', movie_user_matrix, model_KNN,10)

Movie Selected:  Bruno Index:  1070
Searching for recommendations.....
1070                                NaN
1392               Crazy, Stupid, Love.
1216    Pride and Prejudice and Zombies
1118           How to Train Your Dragon
1424         The Huntsman: Winter's War
1671                         By the Sea
1674                Shakespeare in Love
1672                     Magic Mike XXL
1534                        How It Ends
1667         Captain America: Civil War
Name: title, dtype: object